BASE_URL="https://example.test/shell-app-ui/#/journal-audits"
RUNNING_ENV=test
BROWSER=chromium
HEADED=false

VALID_USER_USERNAME=
VALID_USER_EMAIL=
VALID_USER_PASSWORD=

INVALID_USER_USERNAME=
INVALID_USER_EMAIL=
INVALID_USER_PASSWORD=
